// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: #264653;
$info: #E76F51;

// Import rest of bulma
@import "../../node_modules/bulma/bulma.sass";