---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="404 - Page not found">
    <header class="hero is-medium mb-6">
        <div class="columns">
            <div class="column">
                <div class="hero-body">
                    <h1 class="title is-1">Error: 404</h1>
                    <p class="subtitle">
                        The page you are looking for has been moved, renamd or
                        doensn't exit.
                    </p>
                    <div class="buttons">
                        <a href="/" class="button is-primary">Go home</a>
                    </div>
                </div>
            </div>
            <div class="column is-hidden-mobile">
                <svg
                    width="662"
                    height="497"
                    viewBox="0 0 662 497"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <g clip-path="url(#clip0_104_183)">
                        <path d="M662 0H0V497H662V0Z" fill="#F8F9FA"></path>
                        <path
                            d="M93.3834 342.951C94.0578 333.288 96.0438 323.572 99.1014 314.833C106.81 293.23 120.12 276.295 134.142 261.803C137.241 258.597 140.46 255.288 142.007 250.459C145.545 239.33 142.686 223.045 144.672 210.778C146.418 199.815 149.36 189.287 153.332 179.458C161.358 159.703 173.394 143.637 186.783 130.881C214.356 104.664 248.362 90.2262 281.495 85.1775C334.058 77.2504 388.366 89.195 436.196 120.241C453.838 131.693 468.973 149.771 478.907 173.163C489.71 198.568 493.087 230.699 485.221 258.113C506.397 265.058 528.127 273.582 545.174 292.253C559.713 308.21 570.599 335.024 568.613 361.025C566.349 390.062 546.721 405.589 527.693 412.643C449.15 442.28 365.205 439.675 284.437 434.954C240.418 432.349 196.399 428.547 152.976 418.507C133.19 413.893 111.539 406.347 100.293 383.659C94.4136 371.826 92.4276 357.281 93.3834 342.951Z"
                            fill="#DEE2E6"></path>
                        <path
                            d="M444.065 154.024V168.069H474.24V139.152H444.065V148.607"
                            fill="white"></path>
                        <path
                            d="M444.065 154.024V168.069H474.24V139.152H444.065V148.607"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M459.155 144.842C454.343 144.842 450.441 148.752 450.441 153.565C450.441 158.382 454.343 162.287 459.155 162.287C463.963 162.287 467.864 158.382 467.864 153.565C467.864 148.752 463.963 144.842 459.155 144.842Z"
                            fill="#EFB366"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M430.126 279.426V209.746"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M372.305 294.617H419.857C425.542 294.617 430.126 290.029 430.126 284.334"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M430.126 203.733V166.28C430.126 159.351 435.815 153.656 442.737 153.656H459.2"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M212.452 369.925L110.008 370.062"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M215.187 369.797H168.756L176.377 339.96L180.246 324.823L187.073 298.105H196.866L203.697 324.823L207.487 339.96L210.843 353.04L212.303 358.772L215.187 369.797Z"
                            fill="#275C62"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M207.487 339.96H176.377L180.246 324.823H203.697L207.487 339.96Z"
                            fill="#3D84A8"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M378.06 390.526H317.632C314.073 390.526 311.21 387.639 311.21 384.102C311.21 380.536 314.098 377.674 317.632 377.674H336.677C340.996 377.674 344.476 374.191 344.476 369.872"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M279.488 471.786H262.437C254.452 471.786 247.952 465.304 247.952 457.281C247.952 449.288 254.427 442.781 262.437 442.781H414.913C429.344 442.781 441.024 431.061 441.024 416.639C441.024 402.193 429.319 390.501 414.913 390.501H382.727"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M202.162 126.615V127.017H192.22C179.075 127.017 168.334 116.261 168.334 103.103H180.275C192.464 103.906 202.162 114.095 202.162 126.615Z"
                            fill="#EFB366"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M211.302 126.615V127.017H202.162V126.615C202.162 114.095 192.381 103.906 180.275 103.103H189.415C201.761 103.906 211.302 114.095 211.302 126.615Z"
                            fill="#EFB366"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M195.588 146.756H217.475C223.007 146.756 227.414 142.341 227.414 136.808C227.414 131.27 223.007 126.855 217.475 126.855H186.051C180.519 126.855 176.109 131.27 176.109 136.808C176.109 142.341 180.519 146.756 186.051 146.756H195.588Z"
                            fill="#3D84A8"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M308.24 184.424L287.06 191.407L300.916 233.54L322.1 226.557L308.24 184.424Z"
                            fill="#1F1F1F"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M269.186 201.239L328.716 181.571C332.614 180.324 334.687 176.133 333.441 172.314L260.025 196.51C261.142 200.407 265.371 202.44 269.186 201.239Z"
                            fill="#1F1F1F"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M219.689 256.68L401.387 196.8L407.275 214.808L405.036 223.19L231.708 280.126L225.577 274.729L219.689 256.68Z"
                            fill="#1F1F1F"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M255.507 264.855L407.275 214.807L438.534 309.838L256.831 369.718L225.577 274.729L230.715 272.99"
                            fill="white"></path>
                        <path
                            d="M255.507 264.855L407.275 214.807L438.534 309.838L256.831 369.718L225.577 274.729L230.715 272.99"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M248.833 267.013L236.189 271.246"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M360.513 299.629L343.847 291.412"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M348.075 303.862L356.284 287.179"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M328.716 310.335L312.05 302.118"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M316.279 314.568L324.488 297.885"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M347.951 262.283C349.486 266.806 347.041 271.66 342.606 273.197L314.624 282.656C310.101 284.193 305.252 281.745 303.717 277.305"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M448.745 330.136L442.175 341.547L448.745 356.892L444.256 369.876H517.308C528.255 369.876 537.184 360.938 537.184 349.979C537.184 339.016 528.255 330.078 517.308 330.078L448.745 330.136Z"
                            fill="#275C62"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M460.93 342.334H489.963"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M497.99 342.334H506.583"
                            stroke="#264653"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_104_183">
                            <rect width="662" height="497" fill="white"></rect>
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </div>
    </header>
</BaseLayout>
