---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Astrobul">
	<header class="hero is-primary is-medium">
		<div class="columns is-tablet">
			<div class="column">
				<div class="hero-body">
					<h1 class="title is-1">Astrobul</h1>
					<p class="subtitle">
						Production ready, modern and high performance website
						template built with <strong>Astro.js</strong> and <strong
							>Bulma.io</strong
						>
					</p>
					<div class="buttons">
						<a href="#" class="button is-secondary">Get Template</a>
						<a href="#" class="button is-light is-outlined"
							>View code</a
						>
					</div>
				</div>
			</div>
		</div>
	</header>
</BaseLayout>
