---
import Base from '@layouts/Base.astro';
---

<Base title="Astrobul" description="Modern and responsive ">
    <!-- Hero -->
    <main class="hero p-6">
        <div class="hero-body"></div>
        <h1 class="title">Astrobul</h1>
        <p class="subtitle">Modern and responsive Astro.js template built with Bulma.</p>
        <div>
            <a href="https://github.com/hammadmajid/astrobul#Install" class="button is-primary">Get template</a>
            <a href="https://github.com/hammadmajid/astrobul" class="button is-dark">GitHub</a>
        </div>
    </main>
</Base>
