<footer class="footer has-background-light">
    <div class="columns is-centered">
        <div class="column">
            <a href="/" class="title" id="footer-header-logo">
                <span class="has-text-primary">astro</span><span
                    class="has-text-secondary">bul</span
                >
            </a>
            <div class="mt-4">
                <a
                    href="https://facebook.com/me"
                    id="footer-header-facebook-link"
                    target="_blank"
                    ><span class="icon is-medium"
                        ><i class="fa-brands fa-facebook fa-lg"></i></span
                    ></a
                ><a
                    href="https://instagram.com/me"
                    id="footer-header-instagram-link"
                    target="_blank"
                    ><span class="icon is-medium"
                        ><i class="fa-brands fa-instagram fa-lg"></i></span
                    ></a
                ><a
                    href="https://linkedin.com/me"
                    id="footer-header-linkedin-link"
                    target="_blank"
                    ><span class="icon is-medium"
                        ><i class="fa-brands fa-linkedin fa-lg"></i></span
                    ></a
                ><a
                    href="https://twitter.com/me"
                    id="footer-header-twitter-link"
                    target="_blank"
                    ><span class="icon is-meidium"
                        ><i class="fa-brands fa-twitter fa-lg"></i></span
                    ></a
                >
            </div>
        </div>
        <div class="column">
            <ul>
                <a href="/" id="footer-internal-home-link"><li>Home</li></a>
                <a href="/" id="footer-internal-pricing-link"
                    ><li>Pricing</li></a
                >
                <a href="/" id="footer-internal-contact-link"
                    ><li>Contact</li></a
                >
                <a href="/" id="footer-internal-about-link"><li>About</li></a>
            </ul>
        </div>
        <div class="column">
            <ul>
                <a href="/" id="footer-external-prototype-link"
                    ><li>Prototype</li></a
                >
                <a href="/" id="footer-external-roadmap-link"
                    ><li>Roadmap</li></a
                >
                <a href="/" id="footer-external-license-link"
                    ><li>License</li></a
                >
            </ul>
        </div>
        <div class="column">
            <p class="title is-4" id="footer-form-title">
                Get the latest updates
            </p>
            <form>
                <div class="field">
                    <p class="control has-icons-left">
                        <input
                            type="email"
                            class="input"
                            placeholder="johndoe@example.com"
                            required
                            id="footer-form-field"
                        />
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-envelope"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <div class="control">
                        <button
                            class="button is-primary"
                            id="footer-form-button">Subscribe</button
                        >
                    </div>
                </div>
            </form>
        </div>
    </div>
    <p class="has-text-centered" id="footer-credit-text">
        Made with ♥ by <a href="" id="footer-credit-name">Hammad Majid</a>
    </p>
</footer>
