<footer class="footer has-background-light">
    <div class="columns is-centered">
        <div class="column">
            <a href="/" class="title" data-test-id="footer-header-logo">
                <img src="/logo.svg" alt="Astrobul Logo" />
            </a>
            <div>
                <a
                    href="https://facebook.com/me"
                    data-test-id="footer-header-facebook-link"
                    target="_blank"
                    ><span class="icon is-medium"
                        ><i class="fa-brands fa-facebook"></i></span
                    ></a
                ><a
                    href="https://instagram.com/me"
                    data-test-id="footer-header-instagram-link"
                    target="_blank"
                    ><span class="icon is-medium"
                        ><i class="fa-brands fa-instagram"></i></span
                    ></a
                ><a
                    href="https://linkedin.com/me"
                    data-test-id="footer-header-linkedin-link"
                    target="_blank"
                    ><span class="icon is-medium"
                        ><i class="fa-brands fa-linkedin"></i></span
                    ></a
                ><a
                    href="https://twitter.com/me"
                    data-test-id="footer-header-twitter-link"
                    target="_blank"
                    ><span class="icon is-meidium"
                        ><i class="fa-brands fa-twitter"></i></span
                    ></a
                >
            </div>
        </div>
        <div class="column">
            <ul>
                <li>
                    <a href="/" data-test-id="footer-internal-home-link">Home</a
                    >
                </li>
                <li>
                    <a
                        href="/pricing"
                        data-test-id="footer-internal-pricing-link">Pricing</a
                    >
                </li>
                <li>
                    <a
                        href="/company"
                        data-test-id="footer-internal-contact-link">Company</a
                    >
                </li>
                <li>
                    <a href="/about" data-test-id="footer-internal-about-link"
                        >About</a
                    >
                </li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li>
                    <a
                        href="https://www.figma.com/community/file/1197507698947430863"
                        data-test-id="footer-external-prototype-link"
                        >Branding</a
                    >
                </li>
                <li>
                    <a
                        href="https://github.com/users/hammadmajid/projects/10"
                        data-test-id="footer-external-roadmap-link"
                        >E-commerce</a
                    >
                </li>
                <li>
                    <a
                        href="https://creativecommons.org/publicdomain/zero/1.0/"
                        data-test-id="footer-external-license-link"
                        >Social Media</a
                    >
                </li>
            </ul>
        </div>
        <div class="column">
            <p class="title is-4" data-test-id="footer-form-title">
                Get the latest updates
            </p>
            <form>
                <div class="field">
                    <p class="control has-icons-left">
                        <input
                            type="email"
                            class="input"
                            placeholder="johndoe@example.com"
                            required
                            data-test-id="footer-form-field"
                        />
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-envelope"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <div class="control">
                        <button
                            class="button is-primary"
                            data-test-id="footer-form-button">Subscribe</button
                        >
                    </div>
                </div>
            </form>
        </div>
    </div>
</footer>
