<footer class="footer">
    <!--<div class="content has-text-centered">-->
    <!--</div>-->

    <div class="columns">
        <div class="column">
            <h2 class="subtitle has-text-weight-semibold">Astrobul</h2>
            <p>MIT License</p>
        </div>
        <div class="column">
            <ul>
                <li>Home</li>
                <li>Documentation</li>
                <li>Features</li>
                <li>Pricing</li>
                <li>About</li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li>Source code</li>
                <li>Issues</li>
                <li>Pull Requests</li>
            </ul>
        </div>
        <div class="column is-two-fifths">
            <h2>Subscribe to our newsletter!</h2>
            <p>Get updates from us every week straight into your inbox. Unsubscribe at anytime.</p>
            <form>
                <label>
                    <input class="input" placeholder="johndoe@example.com" required>
                </label>
                <label class="checkbox">
                    <input type="checkbox" required />
                    I agree to the <a href="#">terms and conditions</a>
                </label>
                <input class="button is-primary" type="submit" value="Submit"></input>
            </form>
        </div>
    </div>
</footer>