<footer class="footer has-background-light">
    <div class="columns is-centered">
        <div class="column">
            <a href="/" class="title">
                <span class="has-text-primary">astro</span><span
                    class="has-text-secondary">bul</span
                >
            </a>
            <div class="mt-4">
                <a
                    href="https://facebook.com/me"
                    id="footer-icon--link"
                    target="_blank"
                    ><span class="icon is-medium"
                        ><i class="fa-brands fa-facebook fa-lg"></i></span
                    ></a
                ><a
                    href="https://instagram.com/me"
                    id="footer-icon--link"
                    target="_blank"
                    ><span class="icon is-medium"
                        ><i class="fa-brands fa-instagram fa-lg"></i></span
                    ></a
                ><a
                    href="https://linkedin.com/me"
                    id="footer-icon--link"
                    target="_blank"
                    ><span class="icon is-medium"
                        ><i class="fa-brands fa-linkedin fa-lg"></i></span
                    ></a
                ><a
                    href="https://twitter.com/me"
                    id="footer-icon--link"
                    target="_blank"
                    ><span class="icon is-medium"
                        ><i class="fa-brands fa-twitter fa-lg"></i></span
                    ></a
                >
            </div>
        </div>
        <div class="column">
            <ul>
                <a href="/" id="footer--link"><li>Home</li></a>
                <a href="/" id="footer--link"><li>Pricing</li></a>
                <a href="/" id="footer--link"><li>Contact</li></a>
                <a href="/" id="footer--link"><li>More</li></a>
            </ul>
        </div>
        <div class="column">
            <ul>
                <a href="/" id="footer--link"><li>Prototype</li></a>
                <a href="/" id="footer--link"><li>Roadmap</li></a>
                <a href="/" id="footer--link"><li>License</li></a>
            </ul>
        </div>
        <div class="column">
            <p class="title is-4">Get the latest updates</p>
            <form>
                <div class="field">
                    <p class="control has-icons-left">
                        <input
                            type="email"
                            class="input"
                            placeholder="johndoe@example.com"
                            required
                        />
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-envelope"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <p class="has-text-centered">Made with ♥ by <a href="">Hammad Majid</a></p>
</footer>
