<nav
    class="navbar px-4 has-shadow is-fixed-top"
    role="navigation"
    aria-label="main navigation"
>
    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <img src="/logo.svg" alt="Astrobul Logo" />
        </a>
        <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="toogle-menu"
            data-test-id="navbar-burger"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="toogle-menu">
        <div class="navbar-end" data-test-id="navbar-end">
            <a href="/" class="navbar-item" data-test-id="navbar-end-home-link"
                >Home</a
            >
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" data-test-id="navbar-dropdown-link"
                    >Services</a
                >
                <div class="navbar-dropdown" data-test-id="navbar-dropdown">
                    <a
                        href="/service/branding"
                        class="navbar-item"
                        data-test-id="navbar-dropdown-prototype-link"
                        >Branding</a
                    >
                    <a
                        href="/services/e-commerce"
                        class="navbar-item"
                        data-test-id="navbar-dropdown-sponsor-link"
                        >E-commerce</a
                    >
                    <a
                        href="/service/social-media"
                        class="navbar-item"
                        data-test-id="navbar-dropdown-project-link"
                        >Social Media</a
                    >
                </div>
                <a
                    href="/pricing"
                    class="navbar-item"
                    data-test-id="navbar-end-pricing-link">Pricing</a
                >
                <a
                    href="/company"
                    class="navbar-item"
                    data-test-id="navbar-end-company-link">Company</a
                >
                <a
                    href="/about"
                    class="navbar-item"
                    data-test-id="navbar-end-about-link">About</a
                >
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers: HTMLElement[] = Array.prototype.slice.call(
            document.querySelectorAll(".navbar-burger"),
            0
        );

        // Add a click event on each of them
        $navbarBurgers.forEach((e) => {
            e.addEventListener("click", () => {
                // Get the target from the "data-target" attribute
                const target: string = e.dataset.target!;
                const $target: HTMLElement = document.getElementById(target)!;

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                e.classList.toggle("is-active");
                $target.classList.toggle("is-active");
            });
        });
    });
</script>
