<nav
    class="navbar px-4 has-shadow is-fixed-top"
    role="navigation"
    aria-label="main navigation"
>
    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <span class="has-text-primary">astro</span><span
                class="has-text-secondary">bul</span
            >
        </a>
        <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="toogle-menu"
            data-test-id="navbar-burger"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="toogle-menu">
        <div class="navbar-end" data-test-id="navbar-end">
            <a href="/" class="navbar-item" data-test-id="navbar-end-home-link"
                >Home</a
            >
            <a
                href="/pricing"
                class="navbar-item"
                data-test-id="navbar-end-pricing-link">Pricing</a
            >
            <a
                href="/contact"
                class="navbar-item"
                data-test-id="navbar-end-contact-link">Contact</a
            >
            <a
                href="/about"
                class="navbar-item"
                data-test-id="navbar-end-about-link">About</a
            >
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" data-test-id="more-link">More</a>
                <div class="navbar-dropdown" data-test-id="navbar-dropdown">
                    <a
                        href="https://www.figma.com/community/file/1197507698947430863"
                        class="navbar-item"
                        data-test-id="navbar-dropdown-prototype-link"
                        >Prototype</a
                    >
                    <a
                        href="https://patreon.com/hammadmajid"
                        class="navbar-item"
                        data-test-id="navbar-dropdown-sponsor-link">Sponsor</a
                    >
                    <a
                        href="https://github.com/users/hammadmajid/projects/10"
                        class="navbar-item"
                        data-test-id="navbar-dropdown-project-link">Roadmap</a
                    >
                    <hr class="navbar-divider" />
                    <a
                        href="https://creativecommons.org/publicdomain/zero/1.0/"
                        class="navbar-item"
                        data-test-id="navbar-dropdown-license-link">License</a
                    >
                </div>
            </div>
            <!-- TODO(hammadmajid): implement light/dark mode -->
            <a class="navbar-item"
                ><span class="icon">
                    <i class="fa-solid fa-sun"></i>
                </span>
            </a>
        </div>
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers: HTMLElement[] = Array.prototype.slice.call(
            document.querySelectorAll(".navbar-burger"),
            0
        );

        // Add a click event on each of them
        $navbarBurgers.forEach((e) => {
            e.addEventListener("click", () => {
                // Get the target from the "data-target" attribute
                const target: string = e.dataset.target!;
                const $target: HTMLElement = document.getElementById(target)!;

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                e.classList.toggle("is-active");
                $target.classList.toggle("is-active");
            });
        });
    });
</script>
