<header class="hero is-primary is-medium">
    <div class="columns is-tablet">
        <div class="column">
            <div class="hero-body">
                <h1 class="title is-1" data-test-id="hero-title">Astrobul</h1>
                <p class="subtitle" data-test-id="hero-subtitle">
                    Production ready, modern and high performance website
                    template built with <strong>Astro.js</strong> and <strong
                        >Bulma.io</strong
                    >
                </p>
                <div class="buttons">
                    <a
                        href="https://store.hammadmajid.com/"
                        target="_blank"
                        class="button is-secondary-lighter has-text-dark"
                        data-test-id="hero-primary-btn"
                        ><strong>Get Template</strong></a
                    >
                    <a
                        href="https://docs.hammadmajid.com/astrobul"
                        target="_blank"
                        class="button is-light is-outlined"
                        data-test-id="hero-secondary-btn"
                        >Documentaion
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <svg
                width="100%"
                height="100%"
                viewBox="0 0 639 479"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <g clip-path="url(#clip0_5_2)">
                    <path d="M639 0H0V479H639V0Z" fill="#264653"></path>
                    <path
                        d="M169.263 338.066V364.89"
                        stroke="#1C1A19"
                        stroke-width="4"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M195.502 333.216C162.673 346.748 125.048 331.061 111.509 298.245C97.9707 265.434 113.666 227.828 146.495 214.297L195.502 333.216Z"
                        stroke="#1C1A19"
                        stroke-width="4"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        opacity="0.3"
                        d="M195.502 333.216C162.673 346.748 125.048 331.061 111.509 298.245C97.9707 265.434 113.666 227.828 146.495 214.297L195.502 333.216Z"
                        fill="#7E766F"></path>
                    <path
                        d="M171.36 219.446C175.433 219.446 179.567 219.925 183.341 220.763C190.11 222.26 200.474 231.181 200.474 231.181C200.474 231.181 212.755 237.708 216.769 243.695C222.58 252.377 225.994 262.859 225.994 274.056C225.994 304.233 201.553 328.666 171.36 328.666C142.661 328.666 119.058 306.328 116.841 278.187C116.721 276.75 116.721 275.553 116.721 274.056C116.721 270.224 121.214 264.117 121.214 264.117C121.214 264.117 120.016 254.896 121.753 251.12C130.44 232.499 149.43 219.446 171.36 219.446Z"
                        fill="#F4A261"></path>
                    <path
                        d="M134.813 290.042C139.366 309.861 145.596 298.485 150.988 305.011C159.674 315.489 168.005 320.16 174.475 319.202C180.945 318.244 169.563 310.58 169.563 298.245C169.563 285.911 165.968 278.008 156.619 276.63C147.274 275.253 144.458 285.193 138.707 282.199C134.454 279.924 146.375 267.709 147.333 256.932C148.831 240.821 122.772 250.82 121.753 251.12C121.753 251.12 121.694 251.12 121.694 251.18C117.8 259.626 116.062 268.907 116.781 278.187C116.781 278.187 116.781 278.187 116.781 278.247C125.707 289.623 132.477 279.864 134.813 290.042Z"
                        fill="#264653"></path>
                    <path
                        d="M183.341 220.763C181.843 221.362 180.585 222.14 179.327 223.038C167.346 231.301 162.793 249.503 169.563 252.557C176.272 255.614 184.719 244.174 190.47 242.198C200.414 238.845 198.917 247.827 193.345 250.581C187.774 253.335 178.489 253.395 176.632 260.823C174.715 268.487 182.442 270.463 191.009 271.541C199.576 272.619 200.414 301.359 207.184 298.844C213.953 296.329 220.782 278.487 215.331 256.932C213.474 249.623 214.672 245.851 216.709 243.755V243.695C208.921 232.08 197 223.877 183.341 220.763Z"
                        fill="#264653"></path>
                    <path
                        d="M156.859 359.322H182.263C188.553 359.322 193.645 364.411 193.645 370.698V371.057H145.476V370.698C145.476 364.411 150.568 359.322 156.859 359.322Z"
                        fill="#BFBBB7"></path>
                    <path
                        d="M241.175 370.989L241.466 369.453C242.748 362.455 249.038 357.146 256.119 357.146H320.606L318.126 371.069H241.171L241.175 370.989Z"
                        fill="#F1FAEE"></path>
                    <path
                        d="M265.8 370.989L278.959 297.922H355.915L346.122 352.225C344.157 362.914 334.596 370.989 323.745 370.989H265.8Z"
                        fill="#F1FAEE"></path>
                    <path
                        opacity="0.25"
                        d="M272.238 335.148L278.959 297.922H355.915L347.312 345.531L272.238 335.148Z"
                        fill="#4A6341"></path>
                    <path
                        d="M212.084 328.686C200.39 328.686 190.182 324.151 183.357 315.92C176.456 307.538 173.824 296.461 175.917 284.538L198.058 162.014C202.419 137.709 225.839 117.862 250.157 117.862H449.7C461.398 117.862 471.606 122.4 478.431 130.631C485.328 139.014 487.964 150.091 485.872 162.014L463.726 284.538C459.369 308.843 435.95 328.686 411.632 328.686H212.084Z"
                        fill="#F1FAEE"></path>
                    <path
                        d="M197.219 273.309L216.114 168.552C219.269 151.244 235.915 137.17 253.232 137.17H439.768C448.083 137.17 455.339 140.399 460.26 146.247C465.18 152.166 467.093 160.09 465.523 168.552L446.553 273.309H197.219Z"
                        fill="#264653"></path>
                    <path
                        d="M314.959 311.765C312.191 311.765 309.767 310.767 308.15 308.843C304.543 304.768 305.51 297.922 310.378 293.615C312.771 291.46 315.902 290.154 318.905 290.154C321.673 290.154 324.097 291.152 325.714 293.076C329.321 297.152 328.354 303.997 323.486 308.304C321.014 310.536 317.962 311.765 314.959 311.765Z"
                        fill="#C8D7C3"></path>
                    <path
                        d="M272.973 330.227H349.928"
                        stroke="#595959"
                        stroke-width="4"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M289.012 161.842H389.071C390.014 161.842 390.916 162.026 391.723 162.389C392.53 162.748 393.229 163.279 393.772 163.946C394.319 164.612 394.706 165.407 394.906 166.277C395.11 167.151 395.126 168.085 394.954 169.031L380.856 246.461C380.684 247.404 380.329 248.338 379.81 249.212C379.29 250.082 378.615 250.876 377.825 251.543C377.034 252.209 376.147 252.74 375.209 253.104C374.27 253.463 373.3 253.65 372.357 253.65H272.298C271.351 253.65 270.453 253.463 269.646 253.104C268.839 252.74 268.14 252.209 267.593 251.543C267.05 250.876 266.663 250.082 266.459 249.212C266.259 248.338 266.243 247.404 266.415 246.461L280.513 169.031C280.685 168.085 281.04 167.151 281.559 166.277C282.079 165.407 282.753 164.612 283.544 163.946C284.331 163.279 285.222 162.748 286.16 162.389C287.099 162.026 288.069 161.842 289.012 161.842Z"
                        fill="#264653"></path>
                    <path
                        d="M292.95 190.019H324.189C325.143 190.023 325.99 190.402 326.541 191.077C327.096 191.752 327.308 192.67 327.136 193.624C326.96 194.578 326.413 195.492 325.614 196.17C324.816 196.845 323.833 197.224 322.875 197.224H291.636C290.681 197.224 289.834 196.845 289.283 196.17C288.728 195.492 288.516 194.578 288.688 193.624C288.864 192.67 289.411 191.752 290.21 191.077C291.009 190.402 291.995 190.023 292.95 190.019Z"
                        fill="#F4A261"></path>
                    <path
                        d="M290.238 204.912H308.501C309.456 204.912 310.302 205.291 310.854 205.966C311.409 206.645 311.62 207.559 311.449 208.513C311.273 209.467 310.726 210.385 309.927 211.059C309.128 211.734 308.146 212.113 307.187 212.117H288.928C287.969 212.113 287.123 211.734 286.572 211.059C286.02 210.385 285.805 209.467 285.976 208.513C286.152 207.559 286.699 206.645 287.498 205.966C288.297 205.291 289.283 204.912 290.238 204.912Z"
                        fill="#F4A261"></path>
                    <path
                        d="M320.514 204.912H326.281C327.236 204.912 328.083 205.291 328.638 205.966C329.189 206.645 329.404 207.559 329.229 208.513C329.057 209.467 328.51 210.385 327.711 211.059C326.912 211.734 325.926 212.113 324.971 212.117H319.204C318.25 212.113 317.403 211.734 316.848 211.059C316.297 210.385 316.081 209.467 316.253 208.513C316.429 207.559 316.976 206.645 317.775 205.966C318.573 205.291 319.56 204.912 320.514 204.912Z"
                        fill="#264653"></path>
                    <path
                        d="M287.526 219.801H292.011C292.97 219.801 293.816 220.184 294.367 220.859C294.918 221.534 295.134 222.448 294.962 223.406C294.787 224.36 294.24 225.274 293.441 225.948C292.642 226.623 291.656 227.006 290.701 227.006H286.216C285.262 227.006 284.415 226.623 283.86 225.948C283.309 225.274 283.093 224.36 283.269 223.406C283.44 222.448 283.988 221.534 284.786 220.859C285.585 220.184 286.572 219.801 287.526 219.801Z"
                        fill="#F4A261"></path>
                    <path
                        d="M304.028 219.801H330.942C331.897 219.801 332.743 220.184 333.294 220.859C333.85 221.534 334.061 222.448 333.889 223.406C333.714 224.36 333.167 225.274 332.368 225.948C331.569 226.623 330.583 227.006 329.628 227.006H302.714C301.76 227.006 300.913 226.623 300.362 225.948C299.807 225.274 299.595 224.36 299.767 223.406C299.943 222.448 300.49 221.534 301.289 220.859C302.087 220.184 303.07 219.801 304.028 219.801Z"
                        fill="#264653"></path>
                    <path
                        d="M342.955 219.801H366.023C366.978 219.801 367.824 220.184 368.38 220.859C368.931 221.534 369.142 222.448 368.971 223.406C368.795 224.36 368.248 225.274 367.449 225.948C366.65 226.623 365.668 227.006 364.709 227.006H341.641C340.687 227.006 339.84 226.623 339.289 225.948C338.734 225.274 338.522 224.36 338.694 223.406C338.87 222.448 339.417 221.534 340.216 220.859C341.014 220.184 342.001 219.801 342.955 219.801Z"
                        fill="#F4A261"></path>
                    <path
                        d="M284.818 234.69H299.236C300.19 234.694 301.037 235.073 301.588 235.748C302.143 236.422 302.355 237.341 302.183 238.295C302.007 239.249 301.46 240.167 300.661 240.841C299.863 241.516 298.876 241.895 297.922 241.895H283.504C282.55 241.895 281.703 241.516 281.148 240.841C280.597 240.167 280.385 239.249 280.557 238.295C280.733 237.341 281.28 236.422 282.079 235.748C282.877 235.073 283.86 234.694 284.818 234.69Z"
                        fill="#F1FAEE"></path>
                    <path
                        d="M311.249 234.69H314.452C315.406 234.694 316.253 235.073 316.808 235.748C317.359 236.422 317.575 237.341 317.399 238.295C317.228 239.249 316.68 240.167 315.882 240.841C315.083 241.516 314.096 241.895 313.142 241.895H309.935C308.98 241.895 308.134 241.516 307.583 240.841C307.028 240.167 306.816 239.249 306.988 238.295C307.163 237.341 307.71 236.422 308.509 235.748C309.308 235.073 310.294 234.694 311.249 234.69Z"
                        fill="#F4A261"></path>
                    <path
                        d="M326.465 234.69H345.531C346.486 234.694 347.332 235.073 347.884 235.748C348.439 236.422 348.65 237.341 348.479 238.295C348.303 239.249 347.756 240.167 346.957 240.841C346.158 241.516 345.176 241.895 344.217 241.895H325.155C324.201 241.895 323.354 241.516 322.799 240.841C322.248 240.167 322.036 239.249 322.208 238.295C322.384 237.341 322.931 236.422 323.729 235.748C324.528 235.073 325.511 234.694 326.465 234.69Z"
                        fill="#F4A261"></path>
                    <path
                        d="M289.012 161.842H389.071C390.014 161.842 390.916 162.026 391.723 162.389C392.53 162.748 393.229 163.279 393.772 163.946C394.319 164.612 394.706 165.407 394.906 166.277C395.11 167.151 395.126 168.085 394.954 169.031L393.58 176.571H279.139L280.513 169.031C280.685 168.085 281.04 167.151 281.559 166.277C282.079 165.407 282.753 164.612 283.544 163.946C284.331 163.279 285.222 162.748 286.16 162.389C287.099 162.026 288.069 161.842 289.012 161.842Z"
                        fill="#F4A261"></path>
                    <path
                        d="M383.763 172.424C385.497 172.424 387.158 171.019 387.474 169.287C387.789 167.554 386.639 166.149 384.906 166.149C383.172 166.149 381.511 167.554 381.195 169.287C380.88 171.019 382.03 172.424 383.763 172.424Z"
                        stroke="#264653"
                        stroke-width="4"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M380.377 172.632L381.723 171.494"
                        stroke="#264653"
                        stroke-width="4"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M445.171 98.5981H500.421C502.693 98.5981 504.946 99.0452 507.046 99.9114C509.147 100.782 511.056 102.055 512.662 103.664C514.267 105.268 515.545 107.176 516.416 109.276C517.282 111.375 517.73 113.627 517.73 115.898V138.599C517.73 140.87 517.282 143.121 516.416 145.221C515.545 147.32 514.267 149.228 512.662 150.833C511.056 152.442 509.147 153.715 507.046 154.585C504.946 155.455 502.693 155.903 500.421 155.899H445.171C442.903 155.903 440.65 155.455 438.546 154.585C436.445 153.715 434.54 152.442 432.93 150.833C431.325 149.228 430.047 147.32 429.176 145.221C428.31 143.121 427.862 140.87 427.862 138.599V115.898C427.862 113.627 428.31 111.375 429.176 109.276C430.047 107.176 431.325 105.268 432.93 103.664C434.54 102.055 436.445 100.782 438.546 99.9114C440.65 99.0452 442.903 98.5981 445.171 98.5981Z"
                        fill="#F4A261"></path>
                    <path
                        d="M459.685 139.64L445.431 127.41L459.685 115.247"
                        stroke="white"
                        stroke-width="4"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M485.844 115.247L500.097 127.41L485.844 139.64"
                        stroke="white"
                        stroke-width="4"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M476.866 114.469L468.663 139.964"
                        stroke="white"
                        stroke-width="4"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M534.583 308.492H509.455V333.428H534.583C541.445 333.428 547.06 327.82 547.06 320.962C547.06 314.104 541.445 308.492 534.583 308.492Z"
                        stroke="#603D20"
                        stroke-width="4"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M496.715 370.834C511.683 370.834 523.892 358.635 523.892 343.671V287.117H447.26V343.671C447.26 358.635 459.469 370.834 474.438 370.834H496.715Z"
                        fill="#F4A261"></path>
                    <path
                        opacity="0.2"
                        d="M489.586 370.834C474.617 370.746 462.408 358.635 462.408 343.671V287.117H447.26V343.671C447.26 358.635 459.469 370.834 474.438 370.834H489.586Z"
                        fill="#603D20"></path>
                    <path
                        d="M485.576 307.602C500.904 307.602 510.525 301.99 515.873 297.359C520.685 293.176 522.378 288.901 522.822 287.564C522.91 287.384 522.734 287.117 522.466 287.117H447.795C447.707 287.117 447.615 287.208 447.707 287.296C448.598 289.168 457.684 307.602 485.576 307.602Z"
                        fill="#603D20"></path>
                    <path
                        d="M78.9644 382.298H559.876V369.724H78.9644V382.298Z"
                        fill="#264653"></path>
                </g>
                <defs>
                    <clipPath id="clip0_5_2">
                        <rect width="639" height="479" fill="white"></rect>
                    </clipPath>
                </defs>
            </svg>
        </div>
    </div>
</header>
