---
export interface Props {
    title: string;
}

const { title } = Astro.props as Props;

import '@styles/global.scss'
import NavBar from "@components/NavBar.astro";
import Footer from '@components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
        <title>{title}</title>
        <script src="https://kit.fontawesome.com/cbef3dd862.js" crossorigin="anonymous"></script>
        <slot name="head" />
    </head>
    <body class="has-navbar-fixed-top">
        <NavBar />
        <slot />
        <Footer/>
    </body>
</html>
